body{
  background-color: black;
}

.width-strech{
  width: 100%;
}

#content {
  width: 1139px ;
  position: relative;
  margin-left: auto ;
  margin-right: auto ;
}

#cursor{
  vertical-align: top;
}

#text-entry{
  display: inline;
}

#question-input{
  background-color: red;
  color: yellow;
  vertical-align: middle;
}

#answer-frame{
  display: none;

  position: absolute;
  top: 100px;
  left: 341px;
  width: 100%;
}

#answer{
  color: yellow;
}

#answer{
  position: absolute;
  top: 293px;
  /* left: 62px; */
  text-align: center;
  width: 457px;
}


.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
