body{
  background-color: black;
}

.width-strech{
  width: 100%;
}

#content {
  width: 1139px ;
  position: relative;
  margin-left: auto ;
  margin-right: auto ;
}

#cursor{
  vertical-align: top;
}

#text-entry{
  display: inline;
}

#question-input{
  background-color: #FF1F1F;
  color: yellow;
  vertical-align: middle;
}

#answer-frame{
  display: none;

  position: absolute;
  top: 100px;
  left: 341px;
  width: 457px;
}

#answer{
  color: yellow;
}

#answer{
  position: absolute;
  top: 293px;
  left: 44px;
  text-align: center;
  width: 366px;
}

/*   BLINK                        */

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

/*  Zoom                      */
.small-zoom {
  -webkit-transform:scale(0); /*Webkit: Scale down image to 0.8x original size*/
  -moz-transform:scale(0); /*Mozilla scale version*/
  -o-transform:scale(0); /*Opera scale version*/
}

.full-zoom {
  -webkit-transform:scale(1.0); /*Webkit: Scale up image to 1.2x original size*/
  -moz-transform:scale(1.0); /*Mozilla scale version*/
  -o-transform:scale(1.0); /*Opera scale version*/
  -webkit-transition-duration: 4s; /*Webkit: Animation duration*/
  -moz-transition-duration: 4s; /*Mozilla duration version*/
  -o-transition-duration: 4s; /*Opera duration version*/
}
